Real Estate Deal Flow/Real Estate Deal Flow Sub-Workflow.json
{
  "name": "Real Estate Deal Flow Sub-Workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ Object.keys($binary || {}).length > 0 }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4048,
        2112
      ],
      "name": "Has PDF Attachments?",
      "id": "c8432589-740d-44b0-aa9c-fc0d0dbcf709"
    },
    {
      "parameters": {
        "jsCode": "const binaryKeys = Object.keys($binary || {});\nreturn binaryKeys.map(key => ({\n  json: { ...$json, attachmentKey: key },\n  binary: { [key]: $binary[key] }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4272,
        2016
      ],
      "id": "d40d78e1-940c-47a1-9e64-7ad264a720ef",
      "name": "Loop Over All Attachments"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "={{ $json.attachmentKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        4496,
        2016
      ],
      "name": "Extract Text from PDF",
      "id": "2a8b82c1-5425-4cd7-a5ee-9a95b3fc6221",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this title document:\n\n{{ $json.data }}",
        "options": {
          "systemMessage": "You are a Nigerian real estate legal document analyst with expertise in Lagos State property law.\n\nAnalyze the following document text extracted from a title document and determine:\n\n1. **Document Type**: C of O, Governor's Consent, Survey Plan, Excision, Deed of Assignment, etc.\n2. **Authenticity Assessment**: Based on formatting, language, and content, rate authenticity 1-10\n3. **Key Details**: Property location, registered owner, date of issue, plot size, survey plan number\n4. **Red Flags**: Expired documents, inconsistent dates, missing signatures, forged indicators, mismatch with listing details\n5. **Location Cross-check**: Does the document location match the property listing location?\n\nRespond ONLY as valid JSON:\n{\"doc_type\": \"...\", \"authenticity_score\": <1-10>, \"key_details\": {\"owner\": \"...\", \"location\": \"...\", \"date_issued\": \"...\", \"plot_size\": \"...\"}, \"red_flags\": [\"...\"], \"recommendation\": \"<VERIFIED|CAUTION|REJECT>\", \"summary\": \"<2-3 sentence analysis>\"}",
          "maxIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4720,
        2016
      ],
      "name": "AI Document Analyst",
      "id": "aa9e721a-ab4d-4611-aabf-099286d82f87"
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\nreturn [{\n  json: {\n    note: 'Broker replied without documents',\n    from: email.from || 'Unknown',\n    subject: email.subject || '',\n    body_preview: (email.text || email.html || '').substring(0, 500)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4272,
        2208
      ],
      "name": "Log Reply Without Documents",
      "id": "0fa9da2e-181f-42de-8774-0cd35fd97b85"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const aiOutput = $input.item.json;\nlet result = {};\ntry {\n  const text = aiOutput.output || aiOutput.text || '{}';\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  result = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n} catch (e) {\n  result = { doc_type: 'Unknown', authenticity_score: 0, recommendation: 'REJECT', summary: 'Failed to parse' };\n}\n\nlet emailFrom = 'unknown@example.com';\nlet emailSubject = '';\nlet propertyTitle = '';\n\ntry {\n  const index = $itemIndex;\n  const allLoopItems = $('Loop Over All Attachments').all();\n  const targetItem = allLoopItems[index] || allLoopItems[0];\n  if (targetItem && targetItem.json) {\n    const fromField = targetItem.json.from;\n    if (fromField && typeof fromField === 'object' && fromField.value && fromField.value[0]) {\n      emailFrom = (fromField.value[0].address || '').toLowerCase();\n    } else {\n      const rawFrom = String(fromField || '');\n      const emailMatch = rawFrom.match(/[\\w.+-]+@[\\w-]+\\.[\\w.]+/);\n      emailFrom = emailMatch ? emailMatch[0].toLowerCase() : rawFrom.toLowerCase();\n    }\n    emailSubject = String(targetItem.json.subject || '');\n    propertyTitle = emailSubject.replace(/^Re:\\s*/i, '').trim();\n  }\n} catch (e) {}\n\nreturn {\n  json: {\n    email_from: emailFrom,\n    email_subject: emailSubject,\n    property_title: propertyTitle,\n    doc_type: result.doc_type || 'Unknown',\n    authenticity_score: result.authenticity_score || 0,\n    doc_recommendation: result.recommendation || 'REJECT',\n    summary: result.summary || 'No analysis',\n    red_flags: (result.red_flags || []).join(', '),\n    owner: (result.key_details || {}).owner || '',\n    doc_location: (result.key_details || {}).location || '',\n    date_issued: (result.key_details || {}).date_issued || ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5072,
        2016
      ],
      "name": "Parse Document Verification Result",
      "id": "dd65e930-2ab4-4da6-935c-ece256950481"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appXpYbJyZfucB4tT",
          "mode": "list",
          "cachedResultName": "Real Estate Dealflow"
        },
        "table": {
          "__rl": true,
          "value": "tblBdcnelAQov15Xw",
          "mode": "list",
          "cachedResultName": "Investment Criteria"
        },
        "filterByFormula": "=AND(LOWER({Agent_Email}) = LOWER('{{ $json.email_from }}'), OR({Outreach_Status} = \"Sent\", {Outreach_Status} = \"\"))",
        "options": {
          "fields": [
            "Title",
            "Location",
            "Agent_Email",
            "AI_Recommendation",
            "Outreach_Status"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5296,
        2016
      ],
      "name": "Find Matching Deal in Airtable",
      "id": "c3976139-42b3-4c8a-8e1a-3e73ba7a70c7",
      "credentials": {
        "airtableTokenApi": {
          "id": "G0GXt7Zz0AOBvBKT",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const analyses = $('Parse Document Verification Result').all().map(a => a.json);\nconst airtableRecords = $input.all().map(a => a.json);\n\nconst results = [];\nconst usedRecordIds = new Set();\n\nfor (const analysis of analyses) {\n  const potentialRecords = airtableRecords.filter(r =>\n    (r.Agent_Email || '').toLowerCase() === (analysis.email_from || '').toLowerCase()\n  );\n\n  let bestRecord = null;\n\n  for (const r of potentialRecords) {\n    if (usedRecordIds.has(r.id)) continue;\n    const titleLower = (r.Title || '').toLowerCase();\n    const subjectLower = (analysis.email_subject || '').toLowerCase();\n    const propTitleLower = (analysis.property_title || '').toLowerCase();\n    if (titleLower && (subjectLower.includes(titleLower) || titleLower.includes(propTitleLower))) {\n      bestRecord = r;\n      break;\n    }\n  }\n\n  if (!bestRecord) {\n    bestRecord = potentialRecords.find(r => !usedRecordIds.has(r.id));\n  }\n\n  if (bestRecord) {\n    usedRecordIds.add(bestRecord.id);\n    results.push({ json: { id: bestRecord.id, ...analysis } });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        2016
      ],
      "name": "Smart Merge Email with Exact Airtable Row",
      "id": "4e2ba19e-8a2d-45fd-b29e-0628596c3a1b"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appXpYbJyZfucB4tT",
          "mode": "list",
          "cachedResultName": "Real Estate Dealflow",
          "cachedResultUrl": "https://airtable.com/appXpYbJyZfucB4tT"
        },
        "table": {
          "__rl": true,
          "value": "tblBdcnelAQov15Xw",
          "mode": "list",
          "cachedResultName": "Investment Criteria",
          "cachedResultUrl": "https://airtable.com/appXpYbJyZfucB4tT/tblBdcnelAQov15Xw"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Doc_Type": "={{ $json.doc_type }}",
            "Red_Flags": "={{ $json.red_flags }}",
            "Doc_Authenticity_Score": "={{ $json.authenticity_score }}",
            "Summary": "={{ $json.summary }}",
            "Doc_Owner": "={{ $json.owner }}",
            "Doc_Date_issued": "={{ $json.date_issued }}",
            "Doc_Recommendation": "={{ $json.doc_recommendation }}",
            "Outreach_Status": "Docs Received"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bedrooms",
              "displayName": "Bedrooms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Property Type",
              "displayName": "Property Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI_Score",
              "displayName": "AI_Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI_Recommendation",
              "displayName": "AI_Recommendation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Price_Numeric",
              "displayName": "Price_Numeric",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent Phone",
              "displayName": "Agent Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent_WhatsApp",
              "displayName": "Agent_WhatsApp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI_Evaluation",
              "displayName": "AI_Evaluation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Price_Raw",
              "displayName": "Price_Raw",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent_Email",
              "displayName": "Agent_Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created_Time",
              "displayName": "Created_Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Outreach_Status",
              "displayName": "Outreach_Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Doc_Type",
              "displayName": "Doc_Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Doc_Authenticity_Score",
              "displayName": "Doc_Authenticity_Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Red_Flags",
              "displayName": "Red_Flags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Doc_Recommendation",
              "displayName": "Doc_Recommendation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Doc_Date_issued",
              "displayName": "Doc_Date_issued",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Doc_Owner",
              "displayName": "Doc_Owner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5744,
        2016
      ],
      "name": "Final Analysis",
      "id": "8bfb1096-af63-45e2-9ce5-c2853627713f",
      "credentials": {
        "airtableTokenApi": {
          "id": "G0GXt7Zz0AOBvBKT",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.3-70b-versatile",
          "mode": "list",
          "cachedResultName": "llama-3.3-70b-versatile"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 800
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4800,
        2240
      ],
      "name": "LLM - Doc Analyst",
      "id": "a19a0ef2-0eef-47b2-ba0c-e17fef945118",
      "credentials": {
        "openAiApi": {
          "id": "RigRcFUrXjjxmSsN",
          "name": "Groq/OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_521759761446115821"
          ]
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        3840,
        2080
      ],
      "id": "cfa461b9-7b8b-4215-bcd4-f838ecd21033",
      "name": "Get Brokers Replies",
      "credentials": {
        "gmailOAuth2": {
          "id": "2MOfPjk6oJ42Mhw4",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Has PDF Attachments?": {
      "main": [
        [
          {
            "node": "Loop Over All Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Reply Without Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over All Attachments": {
      "main": [
        [
          {
            "node": "Extract Text from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF": {
      "main": [
        [
          {
            "node": "AI Document Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Document Analyst": {
      "main": [
        [
          {
            "node": "Parse Document Verification Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Document Verification Result": {
      "main": [
        [
          {
            "node": "Find Matching Deal in Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Deal in Airtable": {
      "main": [
        [
          {
            "node": "Smart Merge Email with Exact Airtable Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Merge Email with Exact Airtable Row": {
      "main": [
        [
          {
            "node": "Final Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM - Doc Analyst": {
      "ai_languageModel": [
        [
          {
            "node": "AI Document Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Brokers Replies": {
      "main": [
        [
          {
            "node": "Has PDF Attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Africa/Lagos",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "timeSavedPerExecution": 5
  },
  "versionId": "a381fbe3-eb38-4cd5-9014-3e7f9c1202c0",
  "meta": {
    "instanceId": "2c1ffb24a3e87a83c31fa78345cf69ea846fd59e85614b2c56d330945db7d253"
  },
  "id": "ZAu06Er5KSW8eIgr",
  "tags": [
    {
      "updatedAt": "2026-03-04T14:31:27.983Z",
      "createdAt": "2026-03-04T14:31:27.983Z",
      "id": "ZTdcjwhyHjqEB700",
      "name": "DOCUMENT VERIFICATION"
    },
    {
      "updatedAt": "2026-03-04T14:31:35.551Z",
      "createdAt": "2026-03-04T14:31:35.551Z",
      "id": "lSpmcJMBcoXMZpvP",
      "name": "Phase 4"
    }
  ]
}